@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Noto+Color+Emoji&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  list-style: none;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
}

:root {
  --sidebar_border: rgb(237, 237, 237);
  --sidebar_color: rgb(112, 112, 112);
  --background_color: #f8f9fa;
  --background_color: rgb(249, 250, 251);
  --sidebar_hover: rgb(248, 249, 250);
  --border: rgb(237, 237, 237);
  --color:rgb(53, 53, 53);
  --lighter_color:gray;
}

body {
  background-color: white;
}

.admin_container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--background_color);
  color: var(--color);
}
.admin_container .admin_sidebar {
  background-color: white;
  height: 100vh;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  border-right: 1px solid var(--sidebar_border);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.admin_container .admin_sidebar .logo {
  padding: 10px;
}
.admin_container .admin_sidebar menu {
  margin-bottom: 10px;
}
.admin_container .admin_sidebar menu:nth-child(2) {
  border-top: 1px solid var(--sidebar_border);
}
.admin_container .admin_sidebar li h3 {
  color: var(--sidebar_color);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.admin_container .admin_sidebar li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 14px;
  color: var(--sidebar_color);
  padding: 5px 10px;
  position: relative;
}
.admin_container .admin_sidebar li a.active:not(.inactive) {
  background-color: rgb(238, 242, 253) !important;
}
.admin_container .admin_sidebar li a.active:not(.inactive)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: royalblue;
}
.admin_container .admin_sidebar li a sup {
  position: absolute;
  background-color: royalblue;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  font-weight: 800;
  width: 13px;
  max-width: 13px;
  min-width: 13px;
  height: 13px;
  border-radius: 50%;
  transform: translateY(-7px) translateX(7px);
}
.admin_container .admin_sidebar li a:hover {
  background-color: var(--sidebar_hover);
}
.admin_container .admin_sidebar li .mantine-Accordion-content {
  padding-left: 0;
  padding-right: 0;
}
.admin_container .top_nav {
  background-color: white;
  border-bottom: 1px solid var(--border);
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 10px;
}
.admin_container .top_nav h3 {
  font-weight: 700;
  font-size: 18px;
}
.admin_container .top_nav h3 span {
  font-family: "Noto Color Emoji", sans-serif;
  font-size: 22px;
}
.admin_container .sub_page_header {
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}
.admin_container .home_container {
  padding: 20px;
}
.admin_container .home_container .overview_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 30px;
}
.admin_container .home_container .overview_container .card {
  background-color: white;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--border);
}
.admin_container .home_container .overview_container .card .card_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.admin_container .home_container .overview_container .card .card_title h4 {
  color: var(--lighter_color);
  font-weight: 400;
  font-size: 14px;
}
.admin_container .home_container .overview_container .card h2 {
  font-size: 22px;
  color: var(--color);
}
.admin_container .order_container {
  padding: 20px;
}
.admin_container .add_product {
  background-color: white;
  padding: 20px;
  min-height: 100vh;
}
.admin_container .order_content h3 {
  margin-bottom: 20px;
}
.admin_container .order_content .table_container {
  padding: 20px;
  background-color: white;
  border: 1px solid var(--border);
  border-radius: 5px;
}
.admin_container .order_content .table_container.order_table {
  max-width: 500px;
  margin: 0px auto;
}/*# sourceMappingURL=styles.css.map */