@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  list-style: none;
  font-family: "Mulish", sans-serif;
  text-decoration: none;
}

:root {
  --sidebar_border: gainsboro;
  --sidebar_color: rgb(112, 112, 112);
  --background_color: rgb(243, 245, 247);
  --sidebar_hover: rgb(248, 249, 250);
}

@mixin flex($direction, $alignment, $justification) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignment;
  justify-content: $justification;
}

body {
  background-color: white;
}

.admin_container {
  min-height: 100vh;
  background-color: var(--background_color);
  .admin_sidebar {
    background-color: white;
    height: 100vh;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    border-right: 1px solid var(--sidebar_border);
    menu {
      margin-bottom: 10px;
      &:nth-child(2){
        border-top: 1px solid var(--sidebar_border);
      }
    }
    li {
      h3 {
        color: var(--sidebar_color);
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
      }
      a {
        @include flex(row, center, flex-start);
        gap: 10px;
        font-size: 14px;
        color: var(--sidebar_color);
        padding: 5px 10px;
        position: relative;
        &.active{
          background-color: rgb(238,242,253) !important;
          &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 4px;
            height: 100%;
            background-color: royalblue;
          }
        }
        sup {
          position: absolute;
          background-color: royalblue;
          color: white;
          @include flex(row, center, center);
          font-size: 8px;
          font-weight: 800;
          width: 13px;
          max-width: 13px;
          min-width: 13px;
          height: 13px;
          border-radius: 50%;
          transform: translateY(-7px) translateX(7px);
        }
        &:hover {
          background-color: var(--sidebar_hover);
        }
      }
      .mantine-Accordion-content {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
